{% extends "base.html" %} 

{% load static %} 

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}" />
{% endblock %} 

{% block extra_title %}| Bag{% endblock %} 

{% block content %}
<section class="container-fluid text-dp min-height">
  <div class="row text-center">
    <div class="col py-2">
      <h5 class="text-dp text-uppercase mt-2">Shopping bag</h5>
    </div>
  </div>
  {% if bag_items %}
  <div class="row bg-lv-40 d-flex flex-column">
    <div class="col-12 col-sm-10 col-lg-6 mx-auto">
      <div class="d-flex justify-content-between align-items-center">
        <p class="fw-bold fs-5">Sub-total:</p>
        <p>£{{ sub_total|floatformat:2 }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <p class="fw-bold fs-5">Delivery</p>
        <p> £{{ delivery_price|floatformat:2 }}</p>
      </div>
      <div class="mb-2">
        <h4 class="fw-bolder mb-0">Discounts:</h4>
      </div>
      {% if sub_total >= discount_threshold  %}
        <div class="d-flex justify-content-between align-items-center">
          <p>{{ discount_percentage }}% OFF &pound;{{ discount_threshold }}</p>
          <p class="text-danger">- £{{ discount|floatformat:2 }}</p>
        </div>
        {% if pre_delivery >= delivery_threshold %}
          <div class="d-flex justify-content-between align-items-center">
            <p>FREE Delivery</p>
            <p class="text-danger">- {{ delivery_price|floatformat:2 }}</p>
          </div>
        {% else %}
          <div class="d-flex justify-content-between align-items-center">
            <p class="fw-bold fs-5">Delivery</p>
            <p> £{{ delivery|floatformat:2 }}</p>
          </div>
        {% endif %}
      {% else %}
      <div>
        <p class="text-center mb-0">
          Spend £{{ discount_delta|floatformat:2 }} more to get {{ discount_percentage }}% OFF
        </p>
      </div>
      {% endif %}
      <div class="d-flex justify-content-between align-items-center">
        <p class="fw-bold fs-5">Total</p>
        <p class="text-start">£{{ total|floatformat:2 }}</p>
      </div>
    </div>
    <div class="col-12 col-sm-10 col-lg-6 mx-auto mb-3">
      <div class="d-grid gap-2 gap-lg-4 d-flex justify-content-center justify-content-md-around">
        <a
          class="btn btn-outline-dp d-flex justify-content-center align-items-center flex-fill"
          href="{% url 'products' %}"
          role="button">
          <span class="icon">
            <i class="fas fa-chevron-left fs-4"></i>
          </span>
          <span class="text-capitalize">Continue Shopping</span>
        </a>
        <a
          class="btn btn-dp capitalize d-flex justify-content-center align-items-center flex-fill"
          href="{% url 'checkout' %}"
          role="button">
          <span class="icon">
            <i class="fa-solid fa-lock fs-4"></i>
          </span>
          <span class="text-capitalize">Begin Checkout</span>
        </a>
      </div>
    </div>
  </div> 
  <div class="row d-flex flex-column justify-content-center align-items-center mt-4">
    {% for item in bag_items %}
    <div class="col-12 col-sm-10 col-lg-6">
      <div class="card w-100 border-0">
        <div class="row row-cols-1">
          <div class="col-3 col-md-4 pe-0">
            {% if item.product.image %}
            <img
              src="{{ item.product.image.url }}"
              class="card-img-top"
              alt="{{ item.product.brand.name }} {{ item.product.name }}" />
            {% else %}
              <img
              src="{{ MEDIA_URL }}noimage.png"
              class="card-img-top"
              alt="{{ item.product.brand.name }} {{ item.product.name }}" />
            {% endif %}
          </div>
          <div class="col-9 col-md-8 ps-0">
            <div class="card-body p-2 d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center">
                <p>{{ item.product.brand.name }}</p>
                <div class="d-flex justify-content-between">
                  <a class="update-link me-2 me-sm-4 text-decoration-none" data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span class="text-dp d-flex flex-column align-items-center">
                      <i class="fa-solid fa-pencil fs-4 text-lv"></i>
                      <p class="mb-0">Update</p>
                    </span>
                  </a>
                  <a class="remove-item text-decoration-none" id="remove_{{ item.item_id }}" data-product_size="{{ item.size }}">
                    <span class="text-dp d-flex flex-column align-items-center">
                      <i class="fa-solid fa-trash-can fs-4 text-lv"></i>
                      <p class="mb-0">Delete</p>
                    </span>
                  </a>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <p>{{ item.product.name }}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-muted">SIZE: 
                  {% if item.product.has_sizes %}
                    {{ item.size }}
                    {% else %}
                    N/A
                  {% endif %}
                </p>
                <p class="text-muted">&pound;{{ item.item_price|floatformat:2 }}</p>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <form class="form update-form-{{ item.item_id}}{% if item.size %}-{{ item.size }}{% endif %}" 
                  data-item_id="{{ item.item_id }}" 
                  data-size="{{ item.size }}" 
                  method="POST" 
                  action="{% url 'adjust_bag' item.item_id %}">
                  {% csrf_token %}
                  <div class="d-flex justify-content-between">
                    <div class="w-auto input-group input-group-{{ item.item_id }}">
                      <div class="input-group-prepend">
                        <button class="decrement-qty btn btn-outline-lv rounded-0 decrement-qty_{{ item.item_id }} {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                        data-item_id="{{ item.item_id }}" 
                        data-size="{{ item.size }}">
                          <i class="fa-solid fa-minus"></i>
                        </button>
                      </div>
                      <input class="form-control border-0 qty_input id_qty_{{ item.item_id }} {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                        type="number" 
                        name="quantity" 
                        value="{{ item.quantity }}" 
                        min="1" 
                        max="6" 
                        data-item_id="{{ item.item_id }}" 
                        data-size="{{ item.size }}">
                      <div class="input-group-append">
                        <button class="increment-qty btn btn-outline-lv rounded-0 increment-qty_{{item.item_id }} {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}" 
                          data-item_id="{{ item.item_id }}" 
                          data-size="{{ item.size }}">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                      </div>
                      {% if item.product.has_sizes %}
                        <input type="hidden" name="product_size" value="{{ item.size }}">
                      {% endif %}
                    </div>
                  </div>
                </form>
                <p>&pound; {{ item.item_total|floatformat:2 }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="default-hr w-100 border-2 mx-auto">
    </div>
    {% endfor %}
  </div>
  {% if product_count > 4 %}
    <div class="row bg-lv-40 d-flex flex-column">
      <div class="col-12 col-sm-10 col-lg-6 mx-auto">
        <div class="d-flex justify-content-between align-items-center">
          <p class="fw-bold fs-5">Sub-total:</p>
          <p>£{{ sub_total|floatformat:2 }}</p>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <p class="fw-bold fs-5">Delivery</p>
          <p> £{{ delivery_price|floatformat:2 }}</p>
        </div>
        <div class="mb-2">
          <h4 class="fw-bolder mb-0">Discounts:</h4>
        </div>
        {% if sub_total >= discount_threshold  %}
          <div class="d-flex justify-content-between align-items-center">
            <p>{{ discount_percentage }}% OFF &pound;{{ discount_threshold }}</p>
            <p class="text-danger">- £{{ discount|floatformat:2 }}</p>
          </div>
          {% if pre_delivery >= delivery_threshold %}
            <div class="d-flex justify-content-between align-items-center">
              <p>FREE Delivery</p>
              <p class="text-danger">- {{ delivery_price|floatformat:2 }}</p>
            </div>
          {% else %}
            <div class="d-flex justify-content-between align-items-center">
              <p class="fw-bold fs-5">Delivery</p>
              <p> £{{ delivery|floatformat:2 }}</p>
            </div>
          {% endif %}
        {% else %}
        <div>
          <p class="text-center mb-0">
            Spend £{{ discount_delta|floatformat:2 }} more to get {{ discount_percentage }}% OFF
          </p>
        </div>
        {% endif %}
        <div class="d-flex justify-content-between align-items-center">
          <p class="fw-bold fs-5">Total</p>
          <p class="text-start">£{{ total|floatformat:2 }}</p>
        </div>
      </div>
      <div class="col-12 col-sm-10 col-lg-6 mx-auto mb-3">
        <div class="d-grid gap-2 gap-lg-4 d-flex justify-content-center justify-content-md-around">
          <a
            class="btn btn-outline-dp d-flex justify-content-center align-items-center flex-fill"
            href="{% url 'products' %}"
            role="button">
            <span>
              <i class="fas fa-chevron-left fs-4"></i>
            </span>
            <span class="text-capitalize">Continue Shopping</span>
          </a>
          <a
            class="btn btn-dp capitalize d-flex justify-content-center align-items-center flex-fill"
            href="{% url 'checkout' %}"
            role="button">
            <span>
              <i class="fa-solid fa-lock fs-4"></i>
            </span>
            <span class="text-capitalize">Begin Checkout</span>
          </a>
        </div>
      </div>
    </div>
  {% endif %} 
  {% else %}
    <div class="row">
      <div class="col">
        <section class="fixed-footer">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <h4 class="m-2 m-sm-3">Your bag is empty</h4>
            <div class="m-2 m-sm-3">
              <i class="fa-solid fa-bag-shopping fa-6x"></i>
            </div>
            <p class="m-2 m-sm-3">Get shopping!</p>
            <a
              class="btn btn-outline-dp d-flex justify-content-center align-items-center m-2 m-sm-3"
              href="{% url 'products' %}"
              role="button">
              <span class="icon">
                <i class="fas fa-chevron-left fs-5"></i>
              </span>
              <span class="text-capitalize">Products</span>
            </a>
          </div>
        </section>
      </div>
    </div>
  {% endif %}
</section>
{% endblock %} 

{% block page_footer %}{% endblock %} 

{% block postloadjs %}
{{ block.super }}
<script>
  $(function () {
    // Add fixed-bottom at footer when user has no items in bag
    if ($("section").hasClass("fixed-footer")) {
      $("#footer").addClass("fixed-bottom");
    }
  
    // Remove fixed-bottom class given screen size
    var fixedFooter = function (screenSize) {
      if (screenSize.matches) {
        $("#footer").removeClass("fixed-bottom");
      }
    };
  
    var smallScreen = window.matchMedia("(max-height: 520px)");
  
    fixedFooter(smallScreen);
  
    smallScreen.addListener(fixedFooter);
  
    // Update quantity on click
    function submitForm(itemId, size) {
      var form = $(`.update-form-${itemId}-${size}`);
      form.submit();
    }
  
    $(".update-link").click(function () {
      var itemId = $(this).data("item_id");
      var size = $(this).data("size");
      submitForm(itemId, size);
    });
  
    // Remove item and reload on click
    $(".remove-item").click(function (e) {
      var csrfToken = "{{ csrf_token }}";
      var itemId = $(this).attr("id").split("remove_")[1];
      var size = $(this).data("product_size");
      var url = `/bag/remove/${itemId}/`;
      var data = { "csrfmiddlewaretoken": csrfToken, "product_size": size };
  
      $.post(url, data).done(function () {
        location.reload();
      });
    });
  });
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}