{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
  <section class="hero d-flex align-items-center justify-content-center">
    <div class="d-grid gap-2 col-lg-2 mx-auto ">
      <a href="{% url "products" %}" class="btn btn-primary btn-xl py-1 px-sm-2 py-md-2 px-xl-0 text-dp bg-lv-80 border-lv" role="button">
        <h2 class="d-none d-lg-block mb-0">Shop Now</h2>
        <p class="d-lg-none mb-0">Shop Now</p>
      </a>
    </div>
  </section>
  <section class="py-5">
    <div class="container px-4 px-lg-5">
      <h2 class="d-none">shop category</h2>
      <div class="row gx-2 gx-lg-5 row-cols-2 row-cols-md-4 justify-content-center">
        <div class="col">
          <div class="card h-100 home-card">
            <a href="{% url 'products' %}?gender=M" class="btn btn-outline-light p-0">
              <img class="card-img-top" src="https://res.cloudinary.com/datonex/image/upload/v1650202214/eau-royal/eau-royal-hompage/home-his-category_mp0kcv.jpg" alt="Man holding perfume bottle"/>
              <div class="card-body p-4">
                <div class="text-center">
                  <h4 class="text-dp fw-bolder">His</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 home-card">
            <a href="{% url 'products' %}?gender=F" class="btn btn-outline-light p-0">
              <img class="card-img-top" src="https://res.cloudinary.com/datonex/image/upload/v1650202214/eau-royal/eau-royal-hompage/home-hers-category_kex1e8.jpg" alt="Woman smelling perfume bottle"/>
              <div class="card-body p-4">
                <div class="text-center">
                  <h4 class="text-dp fw-bolder">Hers</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 home-card">
            <a href="{% url 'products' %}?category=candles" class="btn btn-outline-light p-0">
              <img class="card-img-top" src="https://res.cloudinary.com/datonex/image/upload/v1650202214/eau-royal/eau-royal-hompage/home-candles-category_yi7fya.jpg" alt="three lit candles"/>
              <div class="card-body p-4">
                <div class="text-center">
                  <h4 class="text-dp fw-bolder">Candles</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 home-card">
            <a href="{% url 'products' %}?has_discount=True" class="btn btn-outline-light p-0">
              <img class="card-img-top" src="https://res.cloudinary.com/datonex/image/upload/v1650202214/eau-royal/eau-royal-hompage/home-sale-category_k33age.jpg" alt="male hand opening sale gift box"/>
              <div class="card-body p-4">
                <div class="text-center">
                  <h4 class="text-dp fw-bolder">Sale</h4>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="row gx-2 gx-lg-5 justify-content-center mt-4">
        <div class="d-flex justify-content-center align-items-center">
          <button type="button" class="btn btn-primary bg-lv-80 text-dp border-lv" data-bs-toggle="modal" data-bs-target="#newsletterSignUp">
            Subscribe
          </button>
          <div class="modal fade" id="newsletterSignUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="newsletterSignUpLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="newsletterSignUpLabel">Newsletter Sign Up</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="bg-lv-20 modal-body d-flex justify-content-center align-items-center">
                  <div class="col-10 text-center">
                    <p>Sign up to our newsletter.</p>
                    <form method="POST" action="" class="p-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center">
                          <button class="btn btn-dp" type="submit">Subscribe</button>
                        </div>
                    </form>
                  </div>   
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dp" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock %}