core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.vscode/
.zip
planning
.DS_Store
.env
.venv
*.sqlite3
*.pyc
products/migrations/0004_product_cloudinary_image.py
products/migrations/0005_auto_20220417_2000.py
