<div class="row text-center pb-2 mb-2 d-none d-md-flex">
  <div class="dropdown col-3 bg-white px-0 scroll">
    <a class=" py-2 btn btn-outline-dp rounded-0 d-flex justify-content-between align-items-center" href="#" role="button" id="sort-md-link" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 me-3">Sort</p>
          {% if current_sorting == 'None_None' %} 
            <small class="text-muted fw-light">By default</small> 
          {% endif %}
          {% if current_sorting == 'price_asc' %} 
            <small class="text-muted fw-light">By price low to high</small> 
          {% endif %}
          {% if current_sorting == 'price_desc' %} 
            <small class="text-muted fw-light">By price high to low</small> 
          {% endif %}
          {% if current_sorting == 'rating_desc' %} 
            <small class="text-muted fw-light">Top rated</small> 
          {% endif %}
        </div>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul class="dropdown-menu col-12 bg-white py-0" aria-labelledby="sort-md-link" >
      <div class="bg-lv-60 pt-0 pb-2">
        <li class="dropdown-header text-dp bg-white mx-0 mb-3 py-2 d-flex justify-content-between align-items-center">
          <div>Sort by</div>
          <a type="button" class="btn btn-outline-dp btn-sm" href="{% url 'products' %}" role="button">Clear</a>
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if current_sorting == 'None_None' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}">Default</a>
        </li>
        <li class=" mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if current_sorting == 'price_asc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=price&direction=asc">Price Low to High</a>
        </li>
        <li class="mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a  class="dropdown-item bg-white py-2 {% if current_sorting == 'price_desc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=price&direction=desc">Price High to Low</a>
        </li>
        <li class="mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a  class="dropdown-item bg-white py-2 {% if current_sorting == 'rating_desc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=rating&direction=desc">Rating</a>
        </li>
        <li class="mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
      </div>
    </ul>
  </div>
  <div class="dropdown col-3 bg-white px-0 scroll">
    <a class=" py-2 btn btn-outline-dp rounded-0 d-flex justify-content-between align-items-center" href="#" role="button" id="category-md-link" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 me-3">Category</p>
            {% if 'category' in request.GET %}
              {% for c in current_categories %}
                <small class="text-muted fw-light">{{ c.name }}</small> 
              {% endfor %}
            {% elif 'gender' in request.get_full_path %}
            <small class="text-muted fw-light">perfumes</small>
            {% else %}
              <small class="text-muted fw-light">All</small>
            {% endif %}
        </div>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul class="dropdown-menu col-12 bg-white py-0" aria-labelledby="category-md-link">
      <div class="bg-lv-60 pt-0 pb-2">
        <li class="dropdown-header text-dp bg-white mx-0 mb-3 py-2 d-flex justify-content-between align-items-center">
          <div>category</div>
          <a type="button" class="btn btn-outline-dp btn-sm" href="{% url 'products' %}" role="button">Clear</a>
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if request.get_full_path == "/products/" %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}">All</a>
        </li>
        <li class=" mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if request.get_full_path == "/products/?category=candles" %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?category=candles">Candles</a>
        </li>
        <li class="mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if 'category' == "/products/?category=candles" or 'gender' in request.GET %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?category=perfumes">Perfumes</a>
        </li>
        <li class="mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
      </div>
    </ul>
  </div>
  <div class="dropdown col-3 bg-white px-0 scroll">
    <a class=" py-2 btn btn-outline-dp rounded-0 d-flex justify-content-between align-items-center" href="#" role="button" id="brand-md-link" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 me-3">Brand</p>
          {% if 'brand' in request.GET %}
            {% for b in current_brands %}
            <small class="text-muted fw-light">{{ b.name }}</small>
            {% endfor %}
          {% else %}
            <small class="text-muted fw-light">All</small>
          {% endif %}
        </div>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul class="dropdown-menu col-12 bg-white py-0" aria-labelledby="brand-md-link">
      <div class="bg-lv-60 pt-0 pb-2">
        <li class="dropdown-header text-dp bg-white mx-0 mb-3 py-2 d-flex justify-content-between align-items-center">
          <div>Brand</div>
          <a type="button" class="btn btn-outline-dp btn-sm" href="{% url 'products' %}" role="button">Clear</a>
        </li>
        <li class="mx-3">
          {% comment %} prettier-ignore {% endcomment %}
          <a class="dropdown-item bg-white py-2 {% if request.get_full_path == "/products/" %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}">
            All
          </a>
        </li>
        <li class=" mx-3">
          <hr class="text-lv dropdown-hr my-0">
        </li>
          {% for b in brands %}
            <li class="mx-3">
              {% comment %} prettier-ignore {% endcomment %}
              <a class="dropdown-item bg-white py-2 {% if  b.db_name in request.get_full_path %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?brand={{ b.db_name }}">
                {{ b.name }}
              </a>
            </li>
            <li class=" mx-3">
              <hr class="text-lv dropdown-hr my-0">
            </li>
          {% endfor %}
      </div>
    </ul>
  </div>
  <div class="dropdown col-3 bg-white px-0">
    <a class=" py-2 btn btn-outline-dp rounded-0 d-flex justify-content-between align-items-center" href="#" role="button" id="price-md-link" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="d-flex justify-content-between align-items-center">
          <p class="mb-0 me-3">Price range</p>
          {% if request.get_full_path == "/products/" %}
            <small class="text-muted fw-light">All</small>
          {% elif 'price_from' or 'price_to' in request.GET %}
            <small class="text-muted fw-light">£{{ price_from }} - £{{ price_to }}</small>
          {% endif %}
        </div>
      <i class="fa-solid fa-chevron-down"></i>
    </a>
    <ul class="dropdown-menu col-12 price-range-dropdown bg-white py-0" aria-labelledby="price-md-link">
      <div class="bg-lv-60 pt-0 pb-2">
        <li class="dropdown-header text-dp bg-white mx-0 mb-3 py-2 d-flex justify-content-between align-items-center">
          <div>price range</div>
          <a type="button" class="btn btn-outline-dp btn-sm" href="{% url 'products' %}" role="button">Clear</a>
        </li>
        <li class="mx-3 py-2 px-3 bg-white">
          <div class="dropdown-item">
            <form method="get" action="{% url 'products' %}" class="d-flex flex-column align-items-center justify-content-between" id="range-form">
              <div class="range-container col-12 mb-2">
                <div class="d-flex align-items-center justify-content-between">
                  <input class="form-control w-25 d-none" type="number" id="input_from" name="price_from" min="{{ min_price }}" max="{{ max_price }}">
                  <input class="form-control w-25 d-none" type="number" id="input_to" name="price_to" min="{{ min_price }}" max="{{ max_price }}">
                </div>
                <input type="text" id="range-slider" value="" />
              </div>
              <button type="submit" class="btn btn-dp">Submit</button>
            </form>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>