<script>
  $(function () {

    /** Begin waypoint infinite scrolling */
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('#loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('#loading').hide();
      }
    });

    /** Begin range slider */

    var min = {{ min_price }};
    var max = {{ max_price }};
    var from = 0;
    var to = 0;

    $(".range-slider").ionRangeSlider({
        skin: "round",
        type: "double",
        min: min,
        max: max,
        prefix: "£",
        from: {{ price_from }},
        to: {{ price_to }},
        onStart: updateInputs,
        onChange: updateInputs,
        onFinish: updateInputs,
    });

    var instance = $(".range-slider").data("ionRangeSlider");
    
    function updateInputs (data) {
        from = data.from;
        to = data.to;
    
        $(".input-from").prop("value", from);
        $(".input-to").prop("value", to);

    }
    
    $(".input-from").on("change", function () {
        var val = $(this).prop("value");
    
        // validate
        if (val < min) {
            val = min;
        } else if (val > to) {
            val = to;
        }
    
        instance.update({
            from: val
        });
    
        $(this).prop("value", val);
    
    });
    
    $(".input-to").on("change", function () {
        var val = $(this).prop("value");
    
        // validate
        if (val < from) {
            val = from;
        } else if (val > max) {
            val = max;
        }
    
        instance.update({
            to: val
        });
    
        $(this).prop("value", val);
    });
      
  });

  /** Add direction query parameter */
  const sortPriceAscMobile = $('input#sort_price_asc_mobile')
  const sortPriceDescMobile = $('input#sort_price_desc_mobile')
  const sortRatingDescMobile = $('input#sort_rating_desc_mobile')
  const directionPriceAscMobile = $('input#direction_price_asc_mobile');
  const directionPriceDescMobile = $('input#direction_price_desc_mobile')
  const directionRatingDescMobile = $('input#direction_rating_desc_mobile');

  const sortPriceAsc = $('input#sort_price_asc')
  const sortPriceDesc = $('input#sort_price_desc')
  const sortRatingDesc = $('input#sort_rating_desc')
  const directionPriceAsc = $('input#direction_price_asc');
  const directionPriceDesc = $('input#direction_price_desc')
  const directionRatingDesc = $('input#direction_rating_desc');

  function handleDirection(sort, direction) {
    if (sort.is(':checked')) {
      directionPriceAsc.attr('checked', false);
      directionPriceDesc.attr('checked', false);
      directionRatingDesc.attr('checked', false);
      directionPriceAscMobile.attr('checked', false);
      directionPriceDescMobile.attr('checked', false);
      directionRatingDescMobile.attr('checked', false);
      direction.attr('checked', true)
    }
  }
  
</script>