/* ---------------- Hero ---------------- */

section.hero {
  height: 49vw;
  background: var(--dark-purple-20) url("../img/hero.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.hero .btn-primary {
  border: 2px var(--lavender);
}

.card img {
  height: 260px !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 374px) {
  .card img {
    height: 220px !important;
  }
}
