@import url("https://eau-royal.s3.amazonaws.com/static/css/constants.css");

/* ---------------- Hero ---------------- */

section.hero {
  height: 49vw;
  background: var(--dark-purple-20);
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.home-card img {
  height: 260px !important;
  object-fit: cover !important;
}

@media only screen and (max-width: 374px) {
  .home-card img {
    height: 220px !important;
  }
}
