#product-list-section img {
  height: 280px;
  width: 160px;
  object-fit: contain;
}

.product-body {
  height: 12vh;
}

#product-detail-section img {
  object-fit: contain;
}

input {
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ---------------- Media Queries ---------------- */

@media only screen and (max-width: 415px) {
  .product-body {
    height: inherit;
  }
}

@media only screen and (max-width: 374px) {
  #product-list-section img {
    height: 220px;
    width: 125px;
    object-fit: contain;
  }
}

@media only screen and (max-width: 350px) {
  .product-body {
    height: 22vh;
  }
}
