{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}"/>
{% endblock %}

{% block extra_title %}| Profile{% endblock %}
{% block search_banner %}{% endblock%}

{% block content %}
  <section class="container-fluid text-dp">
    <div class="row text-center">
      <div class="col-12 py-1">
        <h6 class="text-dp text-uppercase mt-2">My Account</h6>
      </div>
    </div>
  </section>
  <section class="container-fluid hero position-relative">
    <div class="dot bg-lv d-flex justify-content-center align-items-center mx-auto position-absolute top-50 start-50 translate-middle">
      <h3 class="mb-0 text-white text-uppercase">{{ user_initials }}</h3>
    </div>
    <div class="bg-white hero-white-container position-absolute bottom-0 start-50 translate-middle-x"></div>
  </section>
  <section class="container-md text-dp">
    <div class="row mx-lg-5">
      <div class="row bg-lv-20 py-4">
        <div class="col-4">
          <div>
            <div class="bg-white justify-content-end text-dp">
              <div>
                <a class="btn-orders nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-box fs-6"></i>
                    </span>
                    <span>My Orders</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div>
                <a class="btn-subcription nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-arrows-rotate fs-6"></i>
                    </span>
                    <span>Subscription</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div>
                <a class="btn-returns nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-boxes-packing fs-6"></i>
                    </span>
                    <span>Returns</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv my-0" style="height: 0.5rem !important;">
              <div>
                <a class="btn-details nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-id-card fs-6"></i>
                    </span>
                    <span>My Details</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div>
                <a class="btn-address nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-house-chimney fs-6"></i>
                    </span>
                    <span>Address book</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv my-0" style="height: 0.5rem !important;">
              <div>
                <a class="nav-link d-flex align-items-center justify-content-between text-dp" href="{% url 'account_logout' %}">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 fs-6"></i>
                    </span>
                    <span>Sign Out</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          {% include 'profile/includes/profile_orders.html' %}
          {% include 'profile/includes/profile_address.html' %}
          {% include 'profile/includes/profile_details.html' %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

  {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
      var orderBtn = $(".btn-orders")
      var addressBtn = $(".btn-address")
      var detailsBtn = $(".btn-details")
      var subBtn = $(".btn-subcription")
      var rtnBtn = $(".btn-returns")

      var order = $("#profile-order")
      var details = $("#profile-details")
      var address = $("#profile-address")

      $(orderBtn).click(function () {
        order.removeClass("d-none")
        order.addClass("d-md-block")
        address.addClass("d-none")
        address.removeClass("d-md-block")
        details.addClass("d-none")
        details.removeClass("d-md-block")
      })

      $(addressBtn).click(function () {
        address.removeClass("d-none")
        address.addClass("d-md-block")
        order.addClass("d-none")
        order.removeClass("d-md-block")
        details.addClass("d-none")
        details.removeClass("d-md-block")
      })

      $(detailsBtn).click(function () {
        details.removeClass("d-none")
        details.addClass("d-md-block")
        order.addClass("d-none")
        order.removeClass("d-md-block")
        address.addClass("d-none")
        address.removeClass("d-md-block")
      })
    </script>
  {% endblock %}
