{% extends "base.html" %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'profile/css/profile.css' %}"/>
{% endblock %}

{% block extra_title %}| Profile{% endblock %}
{% block search_banner %}{% endblock%}

{% block content %}
  <section class="container-fluid text-dp">
    <div class="row text-center">
      <div class="col-12 py-1">
        <h6 class="text-dp text-uppercase mt-2">My Account</h6>
      </div>
    </div>
  </section>
  <section class="container-fluid hero position-relative">
    <div class="dot bg-lv d-flex justify-content-center align-items-center mx-auto position-absolute top-50 start-50 translate-middle">
      <h3 class="mb-0 text-white text-uppercase">{{ user_initials }}</h3>
    </div>
    <div class="bg-white hero-white-container position-absolute bottom-0 start-50 translate-middle-x"></div>
  </section>
  <section class="container-md text-dp d-none d-sm-block mb-5">
    <div class="row mx-lg-5">
      <div class="row bg-lv-20 py-4">
        <div class="col-4">
          <div>
            <div class="bg-white justify-content-end text-dp">
              <div class="py-3 py-md-1">
                <a class="btn-orders nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-box fs-6"></i>
                    </span>
                    <span>My Orders</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div class="py-3 py-md-1">
                <a class="btn-subcription nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-arrows-rotate fs-6"></i>
                    </span>
                    <span>Subscription</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div class="py-3 py-md-1">
                <a class="btn-returns nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-boxes-packing fs-6"></i>
                    </span>
                    <span>Returns</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv my-0" style="height: 0.5rem !important;">
              <div class="py-3 py-md-1">
                <a class="btn-details nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-id-card fs-6"></i>
                    </span>
                    <span>My Details</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv canvas-hr my-0">
              <div class="py-3 py-md-1">
                <a class="btn-address nav-link d-flex align-items-center justify-content-between text-dp" href="#">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-house-chimney fs-6"></i>
                    </span>
                    <span>Address book</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
              <hr class="text-lv my-0" style="height: 0.5rem !important;">
              <div class="py-3 py-md-1">
                <a class="nav-link d-flex align-items-center justify-content-between text-dp" href="{% url 'account_logout' %}">
                  <span class="d-flex justify-content-between align-items-center">
                    <span class="icon text-lv me-2">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 fs-6"></i>
                    </span>
                    <span>Sign Out</span>
                  </span>
                  <span class="icon">
                    <i class="fa-solid fa-chevron-right fs-6"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-sm-block col-sm-8">
          {% include 'profile/includes/profile_orders.html' %}
          {% include 'profile/includes/profile_address.html' %}
          {% include 'profile/includes/profile_details.html' %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid text-dp d-block d-sm-none mb-5">
  <div class="row mb-2">
    <div class="col-12 bg-lv-20 p-4">
      {% include 'profile/includes/profile_mobile.html' %}
    </div>
  </div>
</section>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
    var orderBtn = $(".btn-orders");
    var addressBtn = $(".btn-address");
    var detailsBtn = $(".btn-details");
    var orderBtnMobile = $(".btn-orders-mobile");
    var addressBtnMobile = $(".btn-address-mobile");
    var detailsBtnMobile = $(".btn-details-mobile");

    var order = $("#profile-order");
    var details = $("#profile-details");
    var address = $("#profile-address");
    var orderMobile = $("#profile-order-mobile");
    var detailsMobile = $("#profile-details-mobile");
    var addressMobile = $("#profile-address-mobile");
    var mobile = $("#profile-mobile");
    var mobileView = $("#mobile-view");
    var span = $(".icon.back");

    $(orderBtn).click(function () {
      order.removeClass("d-none");
      order.addClass("d-block");
      address.addClass("d-none");
      address.removeClass("d-block");
      details.addClass("d-none");
      details.removeClass("d-block");
    });

    $(addressBtn).click(function () {
      address.removeClass("d-none");
      address.addClass("d-block");
      order.addClass("d-none");
      order.removeClass("d-block");
      details.addClass("d-none");
      details.removeClass("d-block");
    });

    $(detailsBtn).click(function () {
      details.removeClass("d-none");
      details.addClass("d-block");
      order.addClass("d-none");
      order.removeClass("d-block");
      address.addClass("d-none");
      address.removeClass("d-block");
    });

    $(span).click(function () {
      mobile.removeClass("d-none");
      mobileView.addClass("d-none");
      span.addClass("d-none");
      span.removeClass("d-block d-sm-none");
      addressMobile.addClass("d-none");
      orderMobile.addClass("d-none");
      detailsMobile.addClass("d-none");
    });

    $(orderBtnMobile).click(function () {
      mobile.addClass("d-none");
      mobileView.removeClass("d-none");
      span.removeClass("d-none");
      span.addClass("d-block d-sm-none");
      orderMobile.removeClass("d-none");
      orderMobile.addClass("d-block");
      addressMobile.addClass("d-none");
      addressMobile.removeClass("d-block");
      detailsMobile.addClass("d-none");
      detailsMobile.removeClass("d-block");
    });

    $(addressBtnMobile).click(function () {
      mobile.addClass("d-none");
      mobileView.removeClass("d-none");
      span.removeClass("d-none");
      span.addClass("d-block d-sm-none");
      addressMobile.removeClass("d-none");
      addressMobile.addClass("d-block");
      orderMobile.addClass("d-none");
      orderMobile.removeClass("d-block");
      detailsMobile.addClass("d-none");
      detailsMobile.removeClass("d-block");
    });

    $(detailsBtnMobile).click(function () {
      mobile.addClass("d-none");
      mobileView.removeClass("d-none");
      span.removeClass("d-none");
      span.addClass("d-block d-sm-none");
      detailsMobile.removeClass("d-none");
      detailsMobile.addClass("d-block");
      orderMobile.addClass("d-none");
      orderMobile.removeClass("d-block");
      addressMobile.addClass("d-none");
      addressMobile.removeClass("d-block");
    });
  </script>
{% endblock %}
