<div class="my-1 container d-flex flex-column justify-content-evenly">
  <ul class="list-inline list-unstyled">
    <li>
      <a class="btn btn-transparent footer-heading text-lv d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#" role="button" data-bs-target="#footer-help" aria-expanded="false" aria-controls="footer-help">
        <p class="h4 text-center">Help</p>
        <i class="fa-solid fa-chevron-right icon"></i>
      </a>
    </li>
    <li class="collapse" id="footer-help">
      <ul class="list-inline list-unstyled">
        <li>
          <a href="#" class="nav-link text-lv">FAQ's</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Order Tracking</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Contact Us</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Delivery Information</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Customer Care</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="my-1 container d-flex flex-column justify-content-evenly">
  <ul class="list-inline list-unstyled">
    <li>
      <a class="btn btn-transparent footer-heading text-lv d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#" role="button" data-bs-target="#footer-company" aria-expanded="false" aria-controls="footer-company">
        <p class="h4 text-center">Our Company</p>
        <i class="fa-solid fa-chevron-right icon"></i>
      </a>
    </li>
    <li class="collapse" id="footer-company">
      <ul class="list-inline list-unstyled">
        <li>
          <a href="#" class="nav-link text-lv">About Us</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Our History</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Our Staff</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Employment</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="my-1 container d-flex flex-column justify-content-evenly">
  <ul class="list-inline list-unstyled">
    <li>
      <a class="btn btn-transparent footer-heading text-lv d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#" role="button" data-bs-target="#footer-stores" aria-expanded="false" aria-controls="footer-stores">
        <p class="h4 text-center">Our Stores</p>
        <i class="fa-solid fa-chevron-right icon"></i>
      </a>
    </li>
    <li class="collapse" id="footer-stores">
      <ul class="list-inline list-unstyled">
        <li>
          <a href="#" class="nav-link text-lv">United Kingdom</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">USA</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Europe</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Canada</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Japan</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="my-1 container d-flex flex-column justify-content-evenly">
  <ul class="list-inline list-unstyled">
    <li>
      <a class="btn btn-transparent footer-heading text-lv d-flex justify-content-between align-items-center" data-bs-toggle="collapse" href="#" role="button" data-bs-target="#legal" aria-expanded="false" aria-controls="legal">
        <p class="h4 text-center">Legal</p>
        <i class="fa-solid fa-chevron-right icon"></i>
      </a>
    </li>
    <li class="collapse" id="legal">
      <ul class="list-inline list-unstyled">
        <li>
          <a href="#" class="nav-link text-lv">Privacy Policy</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Terms of Service</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Cookie Policy</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Disclaimer</a>
        </li>
        <li>
          <a href="#" class="nav-link text-lv">Media Policy</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
