{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}
{% endblock %}

{% block content %}
  <section class="my-5 d-flex justify-content-center">
    <div class="col-10 col-lg-4 d-flex justify-content-center flex-column ">
      <h1 class="text-center mb-5">
        {% trans "Account Inactive" %}
      </h1>
      <div class="d-flex justify-content-center bg-lv-60 p-4">
        <p class="fs-2">
          {% trans "This account is inactive." %}
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $(function () {
      var fixedFooter = function (screenSize) {
        if (screenSize.matches) {
          $("#footer").removeClass("fixed-bottom");
        } else {
          $("#footer").addClass("fixed-bottom");
        }
      }
      var smallScreen = window.matchMedia("(max-width: 450px)");

      fixedFooter(smallScreen);

      smallScreen.addListener(fixedFooter);
    });
  </script>
{% endblock %}
