{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}
{% endblock %}

{% block content %}
  <section class="my-5 d-flex justify-content-center">
    <div class="col-10 col-lg-3 d-flex justify-content-center flex-column">
      <h1 class="text-center mb-5">
        {% trans "Sign In" %}
      </h1>
      
      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one of your existing third party accounts. Or,
          <a href="{{ signup_url }}">sign up</a>
          for a
          {{ site_name }}
          account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">
          <ul class="socialaccount_providers">
            {% comment %} prettier-ignore {% endcomment %}
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </ul>
          <div class="login-or">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}

      {% endif %}
      <div class="d-flex justify-content-center bg-lv-60 p-4">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="row">
            <div class="d-flex justify-content-center flex-column">
              {% if form.non_field_errors %}
                <div class="alert alert-warning">
                  <ul class="alert-message">
                    {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                    {% endfor %}
                  </ul>
                </div>
              {% endif %}
              <div class="my-2">
                <label class="form-label" for="{{ form.login.id_for_label }}">Email Address</label>
                <input class="form-control" autofocus="autofocus" name="login" type="text" id="{{ form.login.id_for_label }}" placeholder="example@email.com" autocomplete="email" required >
                {% for error in form.login.errors %}
                  <ul class="list-inline list-unstyled text-danger my-3">
                    <li>{{ error }}</li>
                  </ul>
                {% endfor %}
              </div>
              <div class="my-2">
                <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                <input class="form-control" name="password" type="password" id="{{ form.password.id_for_label }}" placeholder="•••••••••" autocomplete="current-password" required >
                {% for error in form.password.errors %}
                  <ul class="list-inline list-unstyled text-danger my-3">
                    <li>{{ error }}</li>
                  </ul>
                {% endfor %}
              </div>
              <div class="my-2 form-check">
                <label class="form-check-label" for="{{ form.remember.id_for_label }}">Remember Me</label>
                <input name="remember" class="form-check-input" type="checkbox" value="" id="{{ form.remember.id_for_label }}">
              </div>
              <div class="my-2">
                {% if redirect_field_value %}
                <input class="form-control" type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
              </div>
              <div class="my-2">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
              </div>
              <div class="my-2">
                <p>{% blocktrans %}
                  Don't have an account?
                  <a class="fw-bold" href="{{ signup_url }}">sign up</a>
                  first.{% endblocktrans %}</p>
              </div>
              <div class="my-2 mx-auto">
                <button class="button primaryAction btn btn-xl btn-dark bg-dp text-lv" type="submit">{% trans "Sign In" %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}