{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Sign Out" %}
{% endblock %}

{% block content %}

  <section class="my-5 d-flex justify-content-center fixed-footer">
    <div class="mb-5 col-10 col-lg-3 d-flex justify-content-center flex-column">
      <h1 class="text-center mb-5">{% trans "Sign Out" %}</h1>
      <div class="mb-5 d-flex justify-content-center flex-column bg-lv-60 p-4">

        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          <div class="my-4 d-flex justify-content-center flex-column">
            {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class=" fw-bold btn btn-xl btn-dark bg-dp text-lv">{% trans 'Sign Out' %}</button>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $("#footer").addClass("fixed-bottom")
  </script>
{% endblock %}
