{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}
{% endblock %}

{% block content %}
  <section class="my-5 d-flex justify-content-center">
    <div class="col-10 col-lg-4 d-flex justify-content-center flex-column ">
      <h1 class="text-center mb-5">
        {% if token_fail %}{% trans "Bad Token" %}
        {% else %}{% trans "Change Password" %}
        {% endif %}
      </h1>
      <div class="d-flex justify-content-center flex-column bg-lv-60 p-4">
        {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p class="fs-5">
            {% blocktrans %}
            The password reset link was invalid, possibly because it has already been used. Please request a
            <a class="btn btn-xl btn-dark bg-dp text-lv" role="button" href="{{ passwd_reset_url }}">
              new password reset
            </a>.
            {% endblocktrans %}
          </p>
        {% else %}
          {% if form %}
            <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              <div class="row">
                <div class="d-flex justify-content-center flex-column">
                  {% if form.non_field_errors %}
                    <div class="alert alert-warning">
                      <ul class="alert-message list-inline list-unstyled">
                        {% for error in form.non_field_errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                  <div class="my-2">
                    <label class="form-label" for="{{ form.password1.id_for_label }}">New Password</label>
                    <input class="form-control" name="password1" type="password" id="{{ form.password1.id_for_label }}" placeholder="•••••••••" autocomplete="new-passowrd" required="required">
                    {% for error in form.password1.errors %}
                      <ul class="list-inline list-unstyled text-danger my-3">
                        <li>{{ error }}</li>
                      </ul>
                    {% endfor %}
                  </div>
                  <div class="my-2">
                    <label class="form-label" for="{{ form.password2.id_for_label }}">Re-enter New Password</label>
                    <input class="form-control" name="password2" type="password" id="{{ form.password2.id_for_label }}" placeholder="•••••••••" autocomplete="new-password" required="required">
                    {% for error in form.password2.errors %}
                      <ul class="list-inline list-unstyled text-danger my-3">
                        <li>{{ error }}</li>
                      </ul>
                    {% endfor %}
                  </div>
                  <input class="btn btn-xl btn-dark bg-dp text-lv" type="submit" name="action" value="{% trans 'change password' %}"/>
                </div>
              </div>
            </form>
          {% else %}
            <p class="fs-5">{% trans 'Your password is now changed.' %}</p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </section>
{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $(function () {
      var fixedFooter = function (screenSize) {
        if (screenSize.matches) {
          $("#footer").removeClass("fixed-bottom");
        } else {
          $("#footer").addClass("fixed-bottom");
        }
      }
      var smallScreen = window.matchMedia("(max-width: 450px)");

      fixedFooter(smallScreen);

      smallScreen.addListener(fixedFooter);
    });
  </script>
{% endblock %}
