{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}
{% endblock %}

{% block content %}
  <section class="my-5 d-flex justify-content-center">
    <div class="col-10 col-lg-4 d-flex justify-content-center flex-column ">
      <h1 class="text-center mb-5">
        {% trans "Password Reset" %}
      </h1>
      <div class="d-flex justify-content-center flex-column bg-lv-60 p-4">
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="my-2 fs-5 text-center">
          {% blocktrans %}
          Forgotten your password?
          {% endblocktrans %}
        </p>
        <p class="my-2 fs-5 text-center">
          {% blocktrans %}
          Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.
          {% endblocktrans %}
        </p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
          {% csrf_token %}
          <div class="mx-auto mt-2 mb-3 col-screenSize-8 d-flex justify-content-center flex-column">
            <label class="form-label" for="{{ form.email.id_for_label }}">Email Address</label>
            <input class="form-control" autofocus="autofocus" name="email" type="text" id="{{ form.email.id_for_label }}" placeholder="example@email.com" autocomplete="email" required="required">
            {% for error in form.email.errors %}
              <ul class="list-inline list-unstyled text-danger my-3">
                <li>{{ error }}</li>
              </ul>
            {% endfor %}
          </div>
          <div class="my-4 mx-auto text-center">
            <input class="btn btn-xl btn-dark bg-dp text-lv" type="submit" value="{% trans 'Reset My Password' %}"/>
          </div>
        </form>

        <p class="fs-5 text-center">
          {% blocktrans %}
          Please contact us if you have any trouble resetting your password.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $(function () {
      var fixedFooter = function (screenSize) {
        if (screenSize.matches) {
          $("#footer").removeClass("fixed-bottom");
        } else {
          $("#footer").addClass("fixed-bottom");
        }
      }
      var smallScreen = window.matchMedia("(max-width: 450px)");

      fixedFooter(smallScreen);

      smallScreen.addListener(fixedFooter);
    });
  </script>
{% endblock %}