{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}
{% endblock %}

{% block content %}{% endblock %}
{% block content %}
  <section class="my-5 d-flex justify-content-center fixed-footer">
    <div class="col-10 col-lg-4 d-flex justify-content-center flex-column ">
      <h1 class="text-center mb-5">
        {% trans "Change Password" %}
      </h1>
      <div class="d-flex justify-content-center bg-lv-60 p-4">
        <p class="fs-5">
          {% trans 'Your password is now changed.' %}
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $("#footer").addClass("fixed-bottom")
  </script>
{% endblock %}
