{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}
{% endblock %}

{% block content %}
  <section class="my-5 d-flex justify-content-center fixed-footer">
    <div class="col-10 col-lg-4 d-flex justify-content-center flex-column ">
      <h1 class="text-center mb-5">
        {% trans "Password Reset" %}
      </h1>
      <div class="d-flex justify-content-center bg-lv-60 p-4">
        {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="fs-5">
          {% blocktrans %}
          We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </section>
{% endblock %}

{% block page_footer %}{% endblock %}

{% block postloadjs %}
  <script>
    $("#footer").addClass("fixed-bottom")
  </script>
{% endblock %}
