@import "./static/constants.css";

section.min-height {
  min-height: calc(100vh - 110px) !important;
}

.dot {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.dot h3 {
  font-weight: 700 !important;
}

.progress-width {
  width: 100%;
}

img {
  object-fit: contain;
  max-height: 160px;
}

.scroll-checkout {
  max-height: 50vh;
  overflow-y: scroll;
}

.fieldset-label {
  position: relative;
  right: 0.5rem;
}

select,
select option {
  color: var(--dark-purple);
}

select:invalid {
  color: var(--dark-purple-60);
}

#checkout-items {
  max-height: 593px;
}

#checkout-items .scroll {
  max-height: 400px;
  overflow-y: scroll;
}

#loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--dark-purple-20);
  z-index: 9999;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;
}
/* ---------------- Media Queries ---------------- */

@media only screen and (max-width: 767px) {
  .progress-width {
    width: 95%;
  }
}

@media only screen and (max-width: 426px) {
  .dot {
    height: 2rem;
    width: 2rem;
  }

  .dot h3 {
    font-weight: 600 !important;
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
