{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extra_title %}| Add Product{% endblock %} 

{% block content %}
  <section class="container-fluid">
    <div class="row text-center bg-dp">
      <div class="col py-2">
        <h4 class="text-lv text-uppercase mt-2">Product Management</h4>
      </div>
    </div>
  </section>
  <section class="pb-5 text-dp text-center text-md-start">
    <div class="container px-4 px-lg-5 mb-5">
      <div class="row text-center">
        <div class="col-12 py-2">
          <h6 class="text-uppercase mt-2">Add a Product</h6>
        </div>
      </div>
      <div class="row gx-4 mb-2 justify-content-center">
        <div class="col-12 col-md-6 bg-lv-20">
          <form method="POST" action="{% url 'add_product' %}" class="p-3 " enctype="multipart/form-data">
              {% csrf_token %}
              {% for field in form %}
                  {% if field.name != 'image' %}
                      {{ field | as_crispy_field }}
                  {% else %}
                      {{ field }}
                  {% endif %}
              {% endfor %}
              <div class="d-grid gap-2">
                  <a class="btn btn-outline-danger" role="button" href="{% url 'products' %}">Cancel</a>
                  <button class="btn btn-dp" type="submit">Add Product</button>
              </div>
          </form>
        </div>   
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}

