{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
  <section class="container-fluid">
    <div class="row text-center bg-dp">
      <div class="col py-2">
        <h4 class="text-lv text-uppercase mt-2">{{ product.brand.name }}</h4>
      </div>
    </div>
  </section>
  <section id="product-detail-section" class="pb-5 text-dp text-center text-md-start">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 mb-2">
        <a class="link-dark d-flex justify-content-start align-items-center" href="{% url 'products' %}" role="button">
          <span class="icon">
            <i class="fas fa-chevron-left fs-5"></i>
          </span>
          <span class="text-capitalize">Continue Shopping</span>
        </a>
      </div>
      <div class="row gx-4 gx-lg-5 align-items-center">
        <div class="col-md-7 col-12 mb-4 mb-md-0">
          {% if product.image %}
            <a href="{{ product.image.url }}" target="_blank">
              <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.brand.name }} {{ product.name }}"/>
            </a>
          {% else %}
            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.brand.name }} {{ product.name }}"/>
          {% endif %}
        </div>
        <div class="col-md-5 col-12 mt-5 mt-md-0 mb-4 mb-md-0">
          <h2 class="display-5 fw-bolder mb-3">{{ product.brand.name }}</h2>
          <h4 class="mb-3">{{ product.name }}</h4>
          {% if product.category.name == "perfumes" %}
            {% for g in product.gender.db_name %}
              <h6 class="mb-3">Eau de toilette for {{ item.item_id }}
                <strong class="text-capitalize">{{ product.gender.name }}</strong>
              </h6>
            {% endfor %}
          {% else %}
            <h6 class="mb-3">{{ product.category.name }}</h6>
          {% endif %}
          {% if product.has_sizes == True %}
          <div class="fs-5 mb-3 product-price">
            <span class="text-muted product-size">
              50 ML -
            </span>
            &pound;{{ product.price }}
          </div>
          {% else %}
          <div class="fs-5 mb-3 product-price">
            <span class="text-muted product-size">
              One size -
            </span>
            &pound;{{ product.price }}
          </div>
          {% endif %}
          <div class="d-flex justify-content-center justify-content-md-start align-items-center mb-3">
            {% if product.rating %}
            <i class="fas fa-star fa-2x text-lv"></i>
              <small class="text-muted ms-2">
                {{ product.rating }} / 5
              </small>
            {% else %}
              <small class="text-muted">No Rating</small>
            {% endif %}
          </div>
          <form action="{% url 'add_to_bag' product.id %}" method="POST">
            {% csrf_token %}
            {% if product.has_sizes == True %}
              <div class="btn-toolbar justify-content-center justify-content-md-start mb-5 mb-md-3" role="buttons" aria-label="Toolbar with button groups">
                <div class="btn-group me-3" role="group" aria-label="30 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" id="bottle-30" value="30ML" autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-30">30 ML</label>
                </div>
                <div class="btn-group me-3" role="group" aria-label="50 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" id="bottle-50" value="50ML" autocomplete="off" checked="checked">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-50">50 ML</label>
                </div>
                <div class="btn-group" role="group" aria-label="100 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" id="bottle-100" value="100ML" autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-100">100 ML</label>
                </div>
              </div>
              <div class="btn-toolbar justify-content-center justify-content-md-start mb-5 mb-md-3 d-none" role="buttons" aria-label="Toolbar with button groups">
                <div class="btn-group" role="group" aria-label="100 milliter bottle">
                  <input type="checkbox" class="btn-check" name="product_size" value="onesize"autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="one-size">One size</label>
                </div>
              </div>
            {% else %}
            <div class="d-none">
              <div class="btn-toolbar justify-content-center justify-content-md-start mb-5 mb-md-3" role="buttons" aria-label="Toolbar with button groups">
                <div class="btn-group me-3" role="group" aria-label="30 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" value="30ML" autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-30">30 ML</label>
                </div>
                <div class="btn-group me-3" role="group" aria-label="50 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" value="50ML" autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-50">50 ML</label>
                </div>
                <div class="btn-group" role="group" aria-label="100 milliter bottle">
                  <input type="checkbox" class="btn-check chb" name="product_size" value="100ML" autocomplete="off">
                  <label class="btn btn-outline-lv btn-md-lg py-4" for="bottle-100">100 ML</label>
                </div>
              </div>
            </div>
            <div class="btn-toolbar justify-content-center justify-content-md-start mb-5 mb-md-3" role="buttons" aria-label="Toolbar with button groups">
              <div class="btn-group" role="group" aria-label="one size item">
                <input type="checkbox" class="btn-check" name="product_size" id="one-size" value="onesize" autocomplete="off" checked="checked">
                <label class="btn btn-outline-lv btn-md-lg py-4" for="one-size">One size</label>
              </div>
            </div>
            {% endif %}
            <div class="mb-4 mb-md-3 d-grid gap-2 col-12 col-md-9">
              <div class="d-flex justify-content-between">
                <div class="w-auto input-group input-group-{{ product.id }}">
                  <div class="input-group-prepend">
                    <button class="decrement-qty btn btn-outline-lv rounded-0 decrement-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                      <i class="fa-solid fa-minus fa-lg"></i>
                    </button>
                  </div>
                  <input class="form-control border-0 qty_input id_qty_{{ product.id }}" type="number" name="quantity" value="1" min="1" max="6" data-item_id="{{ product.id }}">
                  <div class="input-group-append">
                    <button class="increment-qty btn btn-outline-lv rounded-0 increment-qty_{{ product.id }}" data-item_id="{{ product.id }}">
                      <i class="fa-solid fa-plus fa-lg"></i>
                    </button>
                  </div>
                </div>
                <div>
                  <i class="fa-regular fa-heart icon text-lv"></i>
                </div>
              </div>
            </div>
            <div class="mb-4 mb-md-3 d-grid gap-2 col-12 col-md-9">
              <input class="btn btn-dp btn-lg" type="submit" value="Add to Bag" />
              {% if request.user.is_superuser %}
                <a class="btn btn-outline-dp" href="{% url 'edit_product' product.id %}">Edit</a>
                <a class="btn btn-outline-danger" href="{% url 'delete_product' product.id %}">Delete</a>
              {% endif %}
            </div>
            <input type="hidden" name="redirect_url" value="{{ request.path }}" />
          </form>
          <div>
            <div class="small mb-1">
              SKU:
              {{ product.sku }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-md-5 pt-md-5">
            <h4 class="mb-3">Product Description</h4>
            <p class="lead">
              {{ product.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script>
    $(function() {
      // Make check boxes behave like radio buttons
      $(".chb").change(function(e) {

        var status = $(this).prop("checked");

        $(".chb").prop('checked', false);
        $(this).prop('checked', true);
      });

      var priceByThree = {{ product.price }}/3
      var priceByTwo = {{ product.price }}*2
      var price = {{ product.price }}

      $("#bottle-30").click(function(){
        $(".product-price").html(`<span class="text-muted product-size">30 ML - </span>£${priceByThree.toFixed(2)}`);
      });
      $("#bottle-50").click(function(){
        $(".product-price").html(`<span class="text-muted product-size">50 ML - </span>£${price.toFixed(2)}`);
      });
      $("#bottle-100").click(function(){
        $(".product-price").html(`<span class="text-muted product-size">100 ML - </span>£${priceByTwo.toFixed(2)}`);
      });
    });
  </script>
  {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
