{% extends "base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block extrajs %}
  <script src="{% static 'products/js/lib/Waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'products/js/lib/Waypoints/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="container-fluid products-dropdown">
    <div class="row text-center bg-dp">
      <div class="col py-2">
      {% if request.path == '/products/'%}
        {% if request.get_full_path == "/products/" %}
          <h4 class="text-lv text-uppercase mt-2">All products</h4>
        {% else %}
          {% for c in current_categories %}
            <h4 class="text-lv text-uppercase mt-2">{{ c.name }}</h4>
          {% endfor %}
          {% for g in current_genders %}
            <h4 class="text-lv text-uppercase mt-2">{{ g.name }}</h4>
          {% endfor %}
          {% if 'has_discount' in request.GET %}
            <h4 class="text-lv text-uppercase mt-2">Sale</h4>
          {% endif %}
          {% if 'sort' or 'q' in request.GET %}
            <h4 class="text-lv text-uppercase mt-2">All products</h4>
          {% endif %}
        {% endif %}
      {% endif %}
      </div>
    </div>
    <div class="row text-center pb-2 mb-2 d-flex d-md-none">
      <div class="col-6 py-2 border border-dp d-flex justify-content-center align-items-center">
        <p class="mb-0 me-3">Sort</p>
        <i class="fa-solid fa-chevron-right"></i>
      </div>
      <div class="col-6 py-2 border border-dp d-flex justify-content-center align-items-center">
        <p class="mb-0 me-3">Filter</p>
      </div>
    </div>
  </section>
  <section id="product-list-section" class="pb-5 text-dp products-dropdown">
    <div class="container-lg px-4 px-lg-5">
      <div class="row text-center pb-2 mb-2 d-none d-md-flex">
        <div class="dropdown bg-white px-0">
          <a class="col-3 py-2 btn btn-outline-dp rounded-0 d-flex justify-content-center align-items-center" href="#" role="button" id="sort-md-link" data-bs-toggle="dropdown" aria-expanded="false">
            <p class="mb-0 me-3">Sort</p>
            <i class="fa-solid fa-chevron-down"></i>
          </a>
          <ul class="dropdown-menu col-3 bg-white py-0" aria-labelledby="sort-md-link">
            <div class="bg-lv-60 pt-0 pb-2">
              <li class="dropdown-header text-dp bg-white mx-0 mb-3 py-2 d-flex justify-content-between align-items-center">
                <div>Sort by</div>
                <button type="button" class="btn btn-outline-dp btn-sm">Clear</button>
              </li>
              <li class="mx-3">
                {% comment %} prettier-ignore {% endcomment %}
                <a class="dropdown-item bg-white py-2 {% if current_sorting == 'None_None' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}">Default</a>
              </li>
              <li class=" mx-3">
                <hr class="text-lv dropdown-hr my-0">
              </li>
              <li class="mx-3">
                {% comment %} prettier-ignore {% endcomment %}
                <a class="dropdown-item bg-white py-2 {% if current_sorting == 'price_asc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=price&direction=asc">Price Low to High</a>
              </li>
              <li class="mx-3">
                <hr class="text-lv dropdown-hr my-0">
              </li>
              <li class="mx-3">
                {% comment %} prettier-ignore {% endcomment %}
                <a  class="dropdown-item bg-white py-2 {% if current_sorting == 'price_desc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=price&direction=desc">Price High to Low</a>
              </li>
              <li class="mx-3">
                <hr class="text-lv dropdown-hr my-0">
              </li>
              <li class="mx-3">
                {% comment %} prettier-ignore {% endcomment %}
                <a  class="dropdown-item bg-white py-2 {% if current_sorting == 'rating_desc' %}active-custom" aria-current="true" {% else %}"{% endif %} href="{% url 'products' %}?sort=rating&direction=desc">Rating</a>
              </li>
              <li class="mx-3">
                <hr class="text-lv dropdown-hr my-0">
              </li>
            </div>
          </ul>
        </div>
        <div class="col-3 py-2 border border-dp d-flex justify-content-center align-items-center">
          <p class="mb-0 me-3">Category</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="col-3 py-2 border border-dp d-flex justify-content-center align-items-center">
          <p class="mb-0 me-3">Brand</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
        <div class="col-3 py-2 border border-dp d-flex justify-content-center align-items-center">
          <p class="mb-0 me-3">Price range</p>
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
      <div class="row gx-2 gx-l-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            {% if request.get_full_path == "/products/" %}
              <li class="breadcrumb-item active" aria-current="page">All products</li>
            {% endif %}
            {% if search_term or current_categories or current_genders or current_discounts or current_sorting != 'None_None' %}
              <li class="breadcrumb-item"><a href="{% url 'products' %}">All products</a></li>
              {% for c in current_categories %}
                <li class="breadcrumb-item active" aria-current="page">{{ c.name }}</li>
              {% endfor %}
              {% for g in current_genders %}
                <li class="breadcrumb-item"><a href="{% url 'products' %}/?category=perfumes">Perfumes</a></li>
                <li class="breadcrumb-item text-capitalize active" aria-current="page">{{ g.name }}</li>
              {% endfor %}
              {% if 'has_discount' in request.GET %}
                <li class="breadcrumb-item text-capitalize active" aria-current="page">Sale</li>
              {% endif %}
              {% else %}
              
            {% endif %}
          </ol>
        </nav>
        <p class="text-muted text-center text-md-left">
          {{ products|length }} products {% if search_term %} found for "{{ search_term }}" {% endif %} out of {{ total_products }} items
        </p>
      </div>
      <div id="product-detail-container" class="infinite-container row gx-2 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 justify-content-center">
        {% for product in products %}
          <div class="infinite-item col shadow mb-2">
            <div class="card h-100 border-white">
              <a href="{% url 'product_detail' product.id %}" class="btn p-0">
                {% if product.image %}
                  <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}"/>
                {% else %}
                  <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}"/>
                {% endif %}
                <div class="card-body text-center product-body">
                  <div class="d-flex flex-column justify-content-between">
                    <p class="mb-1">{{ product.brand.name }}</p>
                    <h6 class="fw-bold">{{ product.name }}</h6>
                  </div>
                </div>
                <div class="card-body p-0 text-center">
                  <p class="mb-1">£{{ product.price }}</p>
                </div>
              </a>
              {% if request.user.is_superuser %}
                <div class="card-footer">
                  <small class="ml-3 d-flex justify-content-around">
                    <a href="#">Edit</a>
                    |
                    <a class="text-danger" href="#">Delete</a>
                  </small>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class=" mb-4 mb-md-3 d-grid gap-2 col-8 col-md-3 mx-auto">
          <div id="loading" class="spinner-border text-dp mx-auto" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
          </div>
          {% if products.has_next %}
            <a class="infinite-more-link btn btn-dp" href="?page={{ products.next_page_number }}" type="button">
              Loading ...
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
  <script>
    $(function () {
      /** Add a single column very small screens */
      var singleColumn = function (screenSize) {

        if (screenSize.matches) {
          $("#product-detail-container")
            .removeClass("row-cols-2")
            .addClass("row-cols-1");
        }
      }
      var smallScreen = window.matchMedia("(max-width: 370px)");

      singleColumn(smallScreen);

      smallScreen.addListener(singleColumn);

      /** Begin waypoint infinite scrolling */
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('#loading').show();
        },
        onAfterPageLoad: function ($items) {
          $('#loading').hide();
        }
      });
    });
  </script>
{% endblock %}
