{% extends "base.html" %}
{% load static %}
{% load urls %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" />
{% endblock %}

{% block extrajs %}
  <script src="{% static 'products/js/lib/Waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'products/js/lib/Waypoints/infinite.min.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="container-fluid products-dropdown">
    <div class="row text-center bg-dp">
      <div class="col py-2">
        {% if 'category' in request.GET %}
          {% for c in current_categories %}
            <h4 class="text-lv text-uppercase mt-2">{{ c.name }}</h4>
          {% endfor %}
        {% elif 'gender' in request.GET %}
          {% for g in current_genders %}
            <h4 class="text-lv text-uppercase mt-2">{{ g.name }}</h4>
          {% endfor %}
        {% elif 'has_discount' in request.GET %}
          <h4 class="text-lv text-uppercase mt-2">Sale</h4>
        {% else %}
          <h4 class="text-lv text-uppercase mt-2">All products</h4>
        {% endif %}
      </div>
    </div>
    <div class="d-block d-md-none">
      {% include 'products/includes/mobile_sorting.html' %}
    </div>
  </section>
  <section id="product-list-section" class="pb-5 text-dp products-dropdown">
    <h2 class="d-none">Eau royal products</h2>
    <div class="container-lg">
      <div class="d-none d-md-block">
        {% include 'products/includes/default_sorting.html' %}
      </div>
      <div class="row gx-2 gx-l-5">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Home</a>
            </li>
            {% if request.get_full_path == "/products/" %}
              <li class="breadcrumb-item active" aria-current="page">All products</li>
            {% endif %}
            {% if search_term or current_categories or current_genders or current_discounts or current_sorting != 'None_None' %}
              <li class="breadcrumb-item">
                <a href="{% url 'products' %}">All products</a>
              </li>
              {% for c in current_categories %}
                <li class="breadcrumb-item active" aria-current="page">{{ c.name }}</li>
              {% endfor %}
              {% for g in current_genders %}
                <li class="breadcrumb-item">
                  <a href="{% url 'products' %}?category=perfumes">Perfumes</a>
                </li>
                <li class="breadcrumb-item text-capitalize active" aria-current="page">{{ g.name }}</li>
              {% endfor %}
              {% if 'has_discount' in request.GET %}
                <li class="breadcrumb-item text-capitalize active" aria-current="page">Sale</li>
              {% endif %}
            {% else %}

            {% endif %}
          </ol>
        </nav>
        <p class="text-muted text-center text-md-left">
          Showing
          {{ products|length }}
          products
          {% if search_term %}
            found for "{{ search_term }}"
          {% endif %}
          out of
          {{ total_products }}
        </p>
      </div>
      <div id="product-detail-container" class="infinite-container row gx-2 gx-lg-5 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 justify-content-start">
        {% for product in products %}
          <div class="infinite-item col shadow mb-2">
            <div class="card h-100 border-white">
              <a href="{% url 'product_detail' product.id %}" class="btn p-0">
                {% if product.image %}
                  <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.brand.name }}{{ product.name }}"/>
                {% else %}
                  <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.brand.name }}{{ product.name }}"/>
                {% endif %}
                <div class="card-body text-center product-body">
                  <div class="d-flex flex-column justify-content-between">
                    <p class="mb-1">{{ product.brand.name }}</p>
                    <h6 class="fw-bold">{{ product.name }}</h6>
                  </div>
                </div>
                <div class="card-body p-0 text-center">
                  <div class="mb-2 text-center">
                    {% if product.rating %}
                    <i class="fas fa-star fa-1x text-lv"></i>
                      <small class="text-muted ms-2">
                        {{ product.rating }} / 5
                      </small>
                    {% else %}
                      <small class="text-muted">No Rating</small>
                    {% endif %}
                  </div>
                  <p class="mb-1">£{{ product.price }}</p>
                </div>
              </a>
              {% if request.user.is_superuser %}
                <div class="card-footer bg-white px-2">
                  <div class="row">
                    <div class="col-6 p-1">
                      <a class="btn btn-dp w-100" href="{% url 'edit_product' product.id %}">Edit</a>
                    </div>
                    <div class="col-6 p-1">
                      <a class="btn btn-outline-danger w-100" href="{% url 'delete_product' product.id %}">Delete</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row mt-5">
        <div class=" mb-4 mb-md-3 d-grid gap-2 col-8 col-md-3 mx-auto">
          <div id="loading" class="spinner-border text-dp mx-auto" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
          </div>
          {% if products.has_next %}
            <a class="infinite-more-link btn btn-dp" href="?page={{ products.next_page_number }}" role="button">
              Loading ...
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block postloadjs %}
  {{ block.super }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>

  {% include 'products/includes/products_script.html' %}
  
{% endblock %}
