<div class="toast custom-toast rounded-0 border-top-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
  <div class="w-100 toast-capper bg-warning"></div>
  <div class="toast-header bg-white text-dp d-flex justify-content-between">
    <strong class="mx-auto">Warning!</strong>
    <button type="button" class="btn btn-danger btn-sm mb-1" data-bs-dismiss="toast" aria-label="Close">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="toast-body bg-white">
    <div class="row">
      <div class="col">
        {{ message }}
        <hr class="default-hr w-100 border-2 mx-auto">
      </div>
    </div>
  </div>
</div>